
//== Container main content style, used on page template

main.container {
    padding: 0;

    > .cmp-container > .aem-Grid > .container {
        padding: 0;
    }
}

#contentContainer {
    padding: 0;
}
