header.experiencefragment {
    height: 45px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 20px;

    .cmp-experiencefragment {
        height: 100%;
        max-width: $grid-max-width;
        margin: 0 auto;


        > .cmp-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }
    }

    .cmp-image {
        height: 100%;
        
        &__link {
            display: flex;
            align-items: center;
            padding-top: 2px;
        }

        &__image {
            height: 40px;
            width: auto;
        }
    }

    .cmp-navigation {
        &__group {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            padding: 0 25px;

            &-link {
                text-decoration: none;
                text-transform: uppercase;
                font-size: rem(12);
                font-weight: $font-weight-bold;
                letter-spacing: 2.4px;
            }
        }
    }

    #headerRightContainer {
        display: flex;
        height: 45px;
        align-items: center;
    }

    .cmp-languagenavigation {
        margin-left: 18px;
        margin-top: -2px;
    }

    .cmp-button--iconOnly {
        margin-left: 15px;
    }

    .cmp-button__icon--search  {
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' style='fill:%236276f3'%3E%3Cpath d='M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z'/%3E%3C/svg%3E");
        }
    }
}
