
//== XF Header style, used on page template

header.experiencefragment {
    height: 45px;

    .cmp-experiencefragment {
        height: 100%;
        max-width: $grid-max-width;
        margin: 0 auto;

        > .cmp-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }
    }

    .cmp-image {
        &__image {
            height: 35px;
            width: auto;
        }
    }

    .cmp-navigation {
        &__group {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            padding: 0 10px;

            &-link {
                text-decoration: none;
            }
        }
    }

    #headerRightContainer {
        display: flex;
        height: 45px;
        align-items: center;
    }
}
