
//== XF Header style, used on page template

header.experiencefragment {
    height: 45px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 10;

    .cmp-experiencefragment {
        height: 100%;
        max-width: $grid-max-width;
        margin: 0 auto;

        > .cmp-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }
    }

    .cmp-image {
        display: flex;
        align-items: center;
        height: 100%;
        padding-top: 2px;

        &__image {
            height: 40px;
            width: auto;
        }
    }

    .cmp-navigation {
        &__group {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            padding: 0 25px;

            &-link {
                text-decoration: none;
                text-transform: uppercase;
                font-size: rem(12);
                font-weight: $font-weight-bold;
                letter-spacing: 2.4px;
            }
        }
    }

    #headerRightContainer {
        display: flex;
        height: 45px;
        align-items: center;
    }

    .cmp-languagenavigation {
        margin-left: 18px;
    }

    .cmp-button--iconOnly {
        margin-left: 15px;
    }
}
