.cmp-breadcrumb {
  &__list {
    padding-left: 0;
  }

  &__item {
    font-size: rem(12);
    font-weight: $font-weight-normal;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;

    &::after {
      display: inline-block;
      content: '';
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' style='fill:%23fff'%3E%3Cpath d='M20 12l-2.83 2.83L26.34 24l-9.17 9.17L20 36l12-12z'/%3E%3C/svg%3E");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 5px;
    }

    &--active {
      font-weight: $font-weight-bold;

      &::after {
        display: none;
      }
    }

    &-link {
      font-size: inherit;
      font-weight: inherit;
      text-decoration: inherit;
    }
  }
}