.cmp-container {
  background-position: center;

  > .aem-Grid {
    > .aem-GridColumn {
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}

.cmp-container--padding {
  &Top {
    &Small {
      > .cmp-container {
        padding-top: $gutter-width;
      }
    }

    &Medium {
      > .cmp-container {
        padding-top: $gutter-width * 3;

        @include media(phone) {
          padding-top: $gutter-width * 1.5;
        }
      }
    }

    &Large {
      > .cmp-container {
        padding-top: $gutter-width * 6;

        @include media(phone) {
          padding-top: $gutter-width * 2;
        }
      }
    }
  }

  &Bottom {
    &Small {
      > .cmp-container {
        padding-bottom: $gutter-width;
      }
    }

    &Medium {
      > .cmp-container {
        padding-bottom: $gutter-width * 3;

        @include media(phone) {
          padding-bottom: $gutter-width * 1.5;
        }
      }
    }

    &Large {
      > .cmp-container {
        padding-bottom: $gutter-width * 6;

        @include media(phone) {
          padding-bottom: $gutter-width * 2;
        }
      }
    }
  }

  &Sides {
    &Small {
      > .cmp-container {
        padding-left: $gutter-width;
        padding-right: $gutter-width;
      }
    }

    &Medium {
      > .cmp-container {
        padding-left: $gutter-width * 3;
        padding-right: $gutter-width * 3;

        @include media(tablet-down) {
          padding-left: $gutter-width;
          padding-right: $gutter-width;
        }
      }
    }
  }
}

.cmp-container--noGutter {
  > .cmp-container > .aem-Grid > .aem-GridColumn {
    padding-left: 0;
    padding-right: 0;
  }
}

.cmp-container--fullWidth {
  > .cmp-container > .aem-Grid {
    max-width: 100% !important;
  }
}

.cmp-container--roundedCorners {
  > .cmp-container {
    border-radius: $border-radius-container;
    overflow: hidden;
  }
}

.cmp-container--border {
  &Blue {
    .cmp-container {
      border: 1px solid $blue;
    }
  }
}
