.cmp-form-text {
  &__text {
    color: $white;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 24px;
    border: solid 1px $white;
    border-radius: $border-radius-button;
    background-color: transparent;
    width: 100%;
    max-width: 380px;
  }
}