.cmp-teaser {
  &__content {
    padding: 20px 0;
  }
}

.cmp-teaser--imageReflection {
  .cmp-teaser {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
      padding: 26px 20px;
      backdrop-filter: blur(30px);
      height: 100%;
    }

    &__title {
      font-weight: $font-weight-semibold;
    }
  }

  .cmp-image__image {
      display: block;
      -webkit-box-reflect: below;
  }
}