.cmp-teaser {
  &__content {
    padding: 20px 0;
  }
}

.cmp-teaser--imageReflection {
  .cmp-teaser {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
      padding: 26px 20px;
      backdrop-filter: blur(30px);
      height: 100%;
    }

    &__title {
      font-weight: $font-weight-semibold;
    }
  }

  .cmp-image__image {
      display: block;
      -webkit-box-reflect: below;
  }
}

[class*="cmp-teaser--hero"] {
  .cmp-teaser {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: $grid-max-width;
      margin: 0 auto;
      z-index: 2;
    }

    &__title {
      position: relative;
      font-size: $font-size-h2;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      padding-bottom: 20px;
      width: 50%;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        width: 128px;
        height: 6px;
        background: $blue;
      }
  
      @include media(phone) {
          font-size: $font-size-h1-mobile;
      }
    }

    &__description {
      width: 50%;
      margin: 30px 0;
    }

    &__action-container {
      width: 50%;
    }

    &__action-link {
      display: inline-flex;
      align-items: center;
      height: 48px;
      padding-left: 25px;
      padding-right: 25px;
      background: $blue;
      border-radius: $border-radius-button;
      border: solid 1px $blue;
      font-size: rem(14);
      line-height: 1;
      font-weight: $font-weight-bold;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .25s ease-in-out;

      &:hover {
        background-color: transparent;
        color: $blue;
      }
    }

    .cmp-image__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 600px;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }
}

.cmp-teaser--heroContentRight {
  .cmp-teaser {
    &__content {
      align-items: flex-end;
    }
  }
}

.cmp-teaser--50-50 {
  .cmp-teaser {
    display: flex;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 35px;
      background: $blue;
    }

    &__pretitle {
      font-weight: $font-weight-light;
      text-transform: uppercase;
    }

    &__title {
      font-size: $font-size-h2;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      margin: 25px 0;
      max-width: 400px;
    }

    &__description {
      max-width: 465px;
    }

    &__image {
      width: 50%;
      order: 2;
    }
  }
}

.cmp-teaser--card {
  .cmp-teaser {
    position: relative;
    padding: 50px 30px;
    border: solid 1px $blue;
    border-radius: $border-radius-container;
    height: 100%;

    &__content {
      text-align: center;
    }

    &__pretitle {
      font-size: rem(14);
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      margin-bottom: 8px;
    }

    &__title {
      font-weight: $font-weight-semibold;
      margin-bottom: 30px;
    }

    &__action-container {
      margin-top: 40px;
    }

    &__action-link {
      display: inline-flex;
      align-items: center;
      height: 48px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: transparent;
      border: solid 1px $blue;
      border-radius: $border-radius-button;
      font-size: rem(14);
      color: $blue;
      line-height: 1;
      font-weight: $font-weight-bold;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .25s ease-in-out;

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }

    &__image {
      position: absolute;
      top: 22px;
      left: 0;
      width: 100%;
    }

    .cmp-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 24px;
      background: $blue;
      border-radius: 12px;
      margin: 0 auto;

      &__image {
        width: 12px;
      }
    }
  }
}