//== Base
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: $font-size-base;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    font-family: $font-family-base;
    font-size: $font-size-m;
    font-weight: $font-weight-base;
    line-height: 1.4;
    color: $text-color;
    text-align: left;
    margin: 0;
    overflow-x: hidden;
    padding: 0;

    .root {
        margin: 0 auto;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    margin: 0 0 1rem;
    text-transform: none;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-weight: $font-weight-normal;
    line-height: 1.2;

    strong,
    b {
        font-weight: $font-weight-bold;
    }
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: $font-weight-normal;
    line-height: 1.4;

    strong,
    b {
        font-weight: $font-weight-bold;
    }
}

h1, .h1 {
    font-size: $font-size-h1;

    @include media(phone) {
        font-size: $font-size-h1-mobile;
    }
}

h2, .h2 {
    font-size: $font-size-h2;

    @include media(phone) {
        font-size: $font-size-h2-mobile;
    }
}

h3, .h3 {
    font-size: $font-size-h3;

    @include media(phone) {
        font-size: $font-size-h3-mobile;
    }
}

h4, .h4 {
    font-size: $font-size-h4;

    @include media(phone) {
        font-size: $font-size-h4-mobile;
    }
}

h5, .h5 {
    font-size: $font-size-h5;

    @include media(phone) {
        font-size: $font-size-h5-mobile;
    }
}

h6, .h6 {
    font-size: $font-size-h6;

    @include media(phone) {
        font-size: $font-size-h6-mobile;
    }
}

a {
    font-family: inherit;
    color: $link-color;
    text-decoration: underline;
    transition: color .2s;

    &:hover {
        color: $link-hover-color;
    }
}

p {
    font-family: inherit;
    margin: 0 0 1rem;
    font-size: inherit;
    line-height: 1.6;

    strong,
    b {
        font-weight: $font-weight-bold;
    }
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}
