@import './functions';

/// Base Colors ///
$black:           #0E0F13;
$white:           #FFF;
$blue:            #3c55f0;
$blue-light:      lighten($blue, 8%);
$red:             #FB2657;

$gray-dark:       #171717;
$gray:            #707070;
$gray-light:      #9a9b9c;
$gray-lightest:   #efefef;

/// Theme Base ///
$body-bg:                 $black;
$text-color:              $white;
$link-color:              $white;
$link-hover-color:        $blue-light;
$border-radius-button:    8px;
$border-radius-container: 16px;

/// Layout ///
$gutter-width:            20px;
$grid-max-width:          1140px;
$breakpoint-tablet:       650px;
$breakpoint-desktop:      1200px;

/// Typography ///
$font-family-sans-serif:  'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          16px;

$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-semibold:    600;
$font-weight-bold:        700;
$font-weight-base:        $font-weight-normal;

$font-size-xs:            rem(12);
$font-size-s:             rem(14);
$font-size-m:             rem(16);
$font-size-l:             rem(21);
$font-size-xl:            rem(41);
$font-size-xxl:           rem(60);

$font-size-h1:            $font-size-xxl;
$font-size-h2:            $font-size-xl;
$font-size-h3:            $font-size-l;
$font-size-h4:            $font-size-m;
$font-size-h5:            $font-size-s;
$font-size-h6:            $font-size-xs;

$font-size-h1-mobile:     rem(32);
$font-size-h2-mobile:     rem(24);
$font-size-h3-mobile:     rem(20);
$font-size-h4-mobile:     rem(16);
$font-size-h5-mobile:     rem(14);
$font-size-h6-mobile:     rem(12);